.treeFolder {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  gap: var(--gap);
  padding: var(--padding-item);
  padding-left: calc(var(--tree-item-indentation) + 8px);
  cursor: pointer;

  &:hover {
    background-color: var(--color-hover-bg);
  }

  .iconWrapper {
    display: flex;
    position: relative;

    .errorIcon {
      position: absolute;
      right: -2px;
      top: -2px;
      width: var(--error-icon-size);
      height: var(--error-icon-size);
      border-radius: 50%;
      background-color: var(--color-error);
      border: 1px solid var(--color-white);
      z-index: 1;
    }

    .icon {
      width: var(--icon-size);
      height: var(--icon-size);
    }

    .chevron {
      transition: transform var(--transition-fast);
    }

    .chevron.open {
      transform: rotate(90deg);
    }

    .loading {
      animation: spin 1s linear infinite;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
