.tree-node.drag-over {
  outline: var(--color-primary) solid 2px;
  outline-offset: -2px;
  border-radius: var(--border-radius-sm);

  > .tree-folder .folder-name {
    color: var(--color-primary);
    font-weight: 500;
  }
}

.tree-folder {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  gap: var(--gap);
  padding: var(--padding-item);
  padding-left: calc(var(--tree-item-indentation) + 8px);
  cursor: pointer;

  &:hover {
    background-color: var(--color-hover-bg);
  }

  .icon-wrapper {
    display: flex;
    position: relative;

    .error-icon {
      position: absolute;
      right: -2px;
      top: -2px;
      width: var(--error-icon-size);
      height: var(--error-icon-size);
      border-radius: 50%;
      background-color: var(--color-error);
      border: 1px solid var(--color-white);
      z-index: 1;
    }

    .icon {
      width: var(--icon-size);
      height: var(--icon-size);
    }

    .chevron {
      transition: transform var(--transition-fast);
    }

    .chevron.open {
      transform: rotate(90deg);
    }

    .loading {
      animation: spin 1s linear infinite;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
