.tree-node {
  position: relative;
  list-style: none;
  margin: 0;
  padding: var(--spacing-xs);
  outline: 0;
  user-select: none;

  > .tree-group {
    height: 0px;
    padding: var(--spacing-xs);
    interpolate-size: allow-keywords;
    transition: height var(--animation-duration, 300ms) var(--transition-easing) 0ms;
    overflow: hidden;

    &.open {
      height: auto;
    }
  }
}
