.treeNode {
  position: relative;
  list-style: none;
  margin: 0;
  padding: var(--spacing-xs);
  outline: 0;
  user-select: none;

  > .treeGroup {
    height: 0px;
    padding: var(--spacing-xs);
    interpolate-size: allow-keywords;
    transition: height var(--animation-duration, 300ms) var(--transition-easing) 0ms;
    overflow: hidden;

    &.open {
      height: auto;
    }
  }

  &.dragOver {
    outline: var(--color-primary) solid 2px;
    outline-offset: -2px;
    border-radius: var(--border-radius-sm);

    :first-child > span {
      color: var(--color-primary);
      font-weight: 500;
    }
  }
}
