.treeItem {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  gap: var(--gap);
  padding: var(--padding-item);
  padding-left: calc(var(--tree-item-indentation) + 8px);
  cursor: pointer;

  &:hover {
    background-color: var(--color-hover-bg);
  }
}
